@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import "tailwindcss";

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("../src/assets/images/image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  position: relative;
}
.title {
  text-align: center;
  font-family: "Metal Mania", system-ui;
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
  color: rgb(255, 166, 0);
  --shadow-outline: black;
  text-shadow:
    -1px -1px 0 var(--shadow-outline),
    1px -1px 0 var(--shadow-outline),
    -1px 1px 0 var(--shadow-outline),
    1px 1px 0 var(--shadow-outline);
}
.gameboard {
  flex: 1;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 250px)); */
  grid-template-columns: repeat(4, minmax(150px, 250px));
  gap: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
}
.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  background-color: #5a2626;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    border-color 0.2s ease;
}
.card:hover {
  transform: translateY(-5px);
  border-color: white;
}
.card-img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}
.card-name {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
}
.scoreboard {
  position: absolute;
  background-image: url("../src/assets/images/scouter.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: -10px;
  right: 0;
  transform: translateX(40%);
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.score {
  color: rgb(0, 0, 0);
  font-weight: 600;
  transform: translate(35%, 170%);
}
